body {
    padding-top: 4rem;
    /* Altura do seu header */
    box-sizing: border-box;
}

h1{
    font-family: 'Sofia Sans', sans-serif;
    font-weight: 700;
}

button{
    font-family: 'Sofia Sans', sans-serif;
    font-weight: 700;
}

#listaDeProdutos > h2, p{
    font-family: 'Plus Jakarta Display', sans-serif;
    font-weight: 700;
}

#cardCarrinho::-webkit-scrollbar {
    width: 12px;
}

#cardCarrinho::-webkit-scrollbar-track {
    background: #2D2D2D;
}

#cardCarrinho::-webkit-scrollbar-thumb {
    background-color: #7B68EE;
    border-radius: 100px;
    border: 3px solid #2D2D2D;
}

/* Estilização para Firefox */
#cardCarrinho {
    scrollbar-width: thin;
    scrollbar-color: #7B68EE #2D2D2D;
}