
header{
    font-family: 'Plus Jakarta Sans', sans-serif;
}

h1, h3{
    font-family: 'Plus Jakarta Sans', sans-serif;
}

button{
    font-family: 'Sofia Sans', sans-serif;
}

h2{
    font-family: 'Sofia Sans', sans-serif;
}

p{
    font-family: 'Sofia Sans', sans-serif;
}

.sidebar {
    width: 0;
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    background-color: #f4f4f4;
    overflow-x: hidden;
    overflow-y: auto;
    transition: 0.5s;
    padding: 10px;
    z-index: 1000;
}

/* Classe para exibir o sidebar */
.sidebar.open {
    width: 250px;
}
