
header{
    font-family: 'Plus Jakarta Sans', sans-serif;
}

h1, h3{
    font-family: 'Plus Jakarta Sans', sans-serif;
}

button{
    font-family: 'Sofia Sans', sans-serif;
}

h2{
    font-family: 'Sofia Sans', sans-serif;
}

p{
    font-family: 'Sofia Sans', sans-serif;
}

