
header{
    font-family: 'Plus Jakarta Sans', sans-serif;
}

h1, h3{
    font-family: 'Plus Jakarta Sans', sans-serif;
}

button{
    font-family: 'Sofia Sans', sans-serif;
}

h2{
    font-family: 'Sofia Sans', sans-serif;
}

p{
    font-family: 'Sofia Sans', sans-serif;
}

.sidebar {
    font-family: 'Sofia Sans', sans-serif;
    color: #ffffff;
    font-size: 18px;
    width: 0px;
    position: fixed;
    top: 100px;
    right: -250px;
    height: calc(100% - 100px);
    overflow-x: hidden;
    overflow-y: auto;
    transition: 0.5s;
    padding: 10px;
    z-index: 9;
}

.sidebar.open {
    width: 250px;
    right: 0;
    box-shadow: -5px 0 5px rgba(0, 0, 0, 0.5);
}

.carrinho-item {
    border-bottom: 1px solid #ccc;
    padding: 10px 0;
    margin-bottom: 0;
}

.carrinho-item:last-child {
    border-bottom: none;
}

.no-scroll {
    overflow: hidden;
}
